$main-window: white;
$app-name-text: rgb(53, 61, 54);
$input-box: rgb(231, 229, 229);
$add-task-button: rgb(125, 230, 142);
$add-task-hover: rgb(105, 190, 119);
$buttons: rgb(245, 244, 244);
$buttons-hover: rgb(236, 234, 234);