@import 'colors';

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}

.container {
	width: 100%;
	min-height: 100vh;
	background: linear-gradient(135deg, #77f882, #6ae9ff);
	padding: 10px;
}

.todo-main {
	width: 100%;
	max-width: 540px;
	background: $main-window;
	margin: 100px auto 20px;
	padding: 40px 30px 70px;
	border-radius: 10px;
	box-shadow: 10px 10px 25px rgb(97, 96, 96);

	h2 {
		display: flex;
		justify-content: center;
		margin-bottom: 20px;
		color: $app-name-text;
		font-weight: bold;
	}

	i {
		width: 1.875rem;
		margin-left: 1.5rem;
		font-size: 30px;
	}

	.row {
		display: flex;
		align-items: center;
		justify-content: space-between;
		background: $input-box;
		border-radius: 20px;
		padding-left: 30px;
		margin-bottom: 25px;
	}

	#input-box {
		flex: 1;
		border: none;
		outline: none;
		background: transparent;
		padding: 10px;
		font-size: 14px;
	}

	.add-task {
		padding: 16px 50px;
		background: $add-task-button;
		color: $app-name-text;
		font-size: 14px;
        font-weight: bold;
		letter-spacing: 0.5px;
		border: none;
		outline: none;
		border-radius: 40px;
		cursor: pointer;
        transition: 0.3s;
	}

	.add-task:hover {
        background: $add-task-hover;
		color: $main-window;
		font-weight: bold;
	}

	ul li {
		position: relative;
		padding: 12px 8px 12px 50px;
		list-style: none;
		font-size: 15px;
		user-select: none;
		cursor: pointer;

		#task-circle {
			position: absolute;
			width: 1.25rem;
			height: 1.25rem;
			top: 0.625rem;
			left: 1rem;
		}

		.fa-trash {
			position: absolute;
			font-size: 14px;
			right: 1rem;
		}

		.fa-trash:hover {
			color: red;
		}
	}

	.checked {
		color: grey;
		text-decoration: line-through;
	}
}
