@import 'colors';

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}

.container {
	width: 100%;
	min-height: 100vh;
	background: linear-gradient(135deg, #77f882, #6ae9ff);
	padding: 0.625rem;
}

.todo-main {
	width: 100%;
	max-width: 35rem;
	background: $main-window;
	margin: 6.25rem auto 1.25rem;
	padding: 2.5rem 1.875rem 3.125rem;
	border-radius: 10px;
	box-shadow: 10px 10px 25px rgb(97, 96, 96);

	h2 {
		display: flex;
		justify-content: center;
		margin-bottom: 1.25rem;
		color: $app-name-text;
		font-weight: bold;
	}

	i {
		width: 1.875rem;
		margin-left: 1.5rem;
		font-size: 1.875rem;
	}

	.row {
		display: flex;
		align-items: center;
		justify-content: space-between;
		background: $input-box;
		border-radius: 20px;
		padding-left: 1.875rem;
		margin-bottom: 1.563rem;
	}

	#input-box {
		flex: 1;
		border: none;
		outline: none;
		background: transparent;
		padding: 0.625rem;
		font-size: 0.875rem;
	}

	.add-task {
		padding: 1rem 3.125rem;
		background: $add-task-button;
		color: $app-name-text;
		font-size: 0.875rem;
		font-weight: bold;
		letter-spacing: 0.031rem;
		border: none;
		outline: none;
		border-radius: 40px;
		cursor: pointer;
		transition: 0.3s;
	}

	.add-task:hover {
		background: $add-task-hover;
		color: $main-window;
		font-weight: bold;
	}

	ul li {
		position: relative;
		padding: 0.75rem 0.5rem 0.75rem 3.125rem;
		list-style: none;
		font-size: 0.875rem;
		user-select: none;
		cursor: pointer;

		#task-circle {
			position: absolute;
			width: 1.25rem;
			height: 1.25rem;
			top: 0.625rem;
			left: 1rem;
		}

		.fa-trash {
			position: absolute;
			font-size: 0.875rem;
			right: 1rem;
		}

		.fa-trash:hover {
			color: red;
		}
	}

	.checked {
		color: grey;
		text-decoration: line-through;
	}
}

.status-buttons {
	margin-top: 2rem;
	text-align: center;

	button {
		margin: 0 1.2rem;
		padding: 0.5rem 0.75rem;
		border: 0.063rem solid #cccccc;
		border-radius: 15px;
		background-color: $buttons;
		font-size: 0.813rem;
		cursor: pointer;
	}

	button:hover {
		background-color: $buttons-hover;
	}
}
